<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PatchingUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DB_ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Patch;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="UAT_DB_ConnectionString" connectionString="Data Source=tk5stosrv01;Initial Catalog=Orchestrator_bkp;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DEV_DB_ConnectionString" connectionString="Data Source=tk5ppautovm02;Initial Catalog=Orchestrator;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="PROD_DB_ConnectionString" connectionString="Data Source=tk5ppautovm01;Initial Catalog=Orchestrator;Integrated Security=True" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <!--<location path="Reports.aspx">
    <system.web>
      <authorization>

        <allow users="*"/>

      </authorization>
    </system.web>
  </location>

  <location path="PatchTool.aspx">
    <system.web>
      <authorization>
        <allow roles="PowerPatch"/>
        <deny users="*"/>
        <allow users="PowerPatch"/>
        <deny users="*"/>
      </authorization>
      -->
  <!--

    </system.web>
  </location>-->
  <system.web>
    <sessionState mode="InProc" timeout="30000" />
    <!--<authorization>

      <allow roles="PowerPatch" />
      <deny users="*" />
      <allow users="PowerPatch" />
      <deny users="*" />
    </authorization>
    <identity impersonate="false" />
    <authentication mode="Windows" />-->


    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <customErrors mode="Off"></customErrors>
    <httpRuntime executionTimeout="99999" />

  </system.web>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>

      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="PatchTool.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <appSettings>

    <!--Added in order to replace the value of TxtLogFile in Prep Tab-->
    <add key="PrepLogPath" value="C:\Temp"/>
    
    <!--<add key="OrchestratorServer" value="zenbox08"/>-->
    <add key="Env" value="UAT"/>
    <add key="CheckAccessTimeOut" value="10000" />
    <add key="diskspaceval" value="12.00" />
    <add key="OrchestratorServer" value="localhost" />
    <add key="OrchestratorServiceURL" value="http://tk5stosrv01.redmond.corp.microsoft.com:81/Orchestrator2012/Orchestrator.svc/" />
    <add key="GetVIPSForSuperUserPath" value="\HLBCluster\SuperUser\GetVIPSForSuperUser" /> 

    <add key="SUPreviewPath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\SimpleUpdateRunbook\SimpleupdateNew\SUPreview" />
    <add key="PatchingPathComplete" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\CheckServerType\Display" />
    <add key="PatchingPath_New" value="\PowerPatch9.0\Patching_NoForceReboot\SqlClusterPatching\Execute_Master" />
    <add key="PatchingPath" value="\PowerPatch9.0\Patching_NoForceReboot\SqlClusterPatching\Patching_Master" />
    <add key="PatchingPath_HLB" value="\PowerPatch9.0\Patching_NoForceReboot\HLBCluster\Implementation\Display" />
   
    <add key="ResumePath" value="\PowerPatch9.0\Patching_NoForceReboot\SqlClusterPatching\Implementation\PI" />
    <add key="HLBResumePath" value="\PowerPatch9.0\Patching_NoForceReboot\HLBCluster\Implementation\ResumeITVIPNode" />

    <add key="CheckAccessPath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\CheckAccess\CheckAccess"/>
    <add key="MitigatePath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\CheckAccess\Mitigate"/>

    
    <add key="ValidatePath" value="\PowerPatch6.0_Standalone\Patching_NoForceReboot\MasterPatching\Validate\CallValidation" />
   
    <add key="GetVipStatusPath" value="\HLBCluster\PreChecks\getNodeDetails"/>
    <add key="GetSuspendNodePath" value="\HLBCluster\Implementation\SuspendITVIPNodeNew"/>
    <add key="GetResumeNodePath" value="\HLBCluster\Implementation\ResumeITVIPNode"/>
    <add key="HLBExecutePath" value="\PowerPatch9.0\Patching_NoForceReboot\HLBCluster\Implementation\Execute"/>
    <add key="HLBDisplayPath" value="\HLBCluster\Implementation\Display"/>    
    <add key="CheckAccessPath_HLB" value="\PowerPatch6.0_HLB\Patching_NoForceReboot\MasterPatching\CheckAccess\CheckAccess_HLB" />
    <add key="VerifyPatchPath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\Validate\VerifyPatch_New" />
    <add key="SmokeTestPath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\SmokeTest\CallSmokeTest" />
    <add key="MitigatePath_HLB" value="\PowerPatch6.0_HLB\Patching_NoForceReboot\MasterPatching\CheckAccess\Mitigate_HLB" />
    <add key="FindUpdatesPath" value="\PowerPatch6.0_Standalone\Patching_NoForceReboot\MasterPatching\Validate\FindUpdates" />
    <add key="CompareSmokeTestLogPath" value="\PowerPatch6.0_Standalone\Patching_NoForceReboot\MasterPatching\SmokeTest\CompareSmokeTestLog" />
    <add key="Reboot_HLB" value="\PowerPatch6.0_HLB\Patching_NoForceReboot\MasterPatching\Reboot_HLBCluster\Reboot_HLB" />
    <add key="FlashPath" value="\PowerPatch9.0\Patching_NoForceReboot\MasterPatching\CheckAccess\FlashImplementation" />
    <add key="ExcelFilesPath" value="\\localhost\Installers" />
    <add key="SmokeTestLogPath" value="\\localhost\Installers" />
    <add key="WGPath" value="\\localhost\Installers\" />
    <add key="ReportServerURL" value="http://tk5stosrv03/ReportServer" />
    <add key="OverAllReportServerURL" value="http://tk5stosrv03/ReportServer" />
    <add key="ReportViewerPath" value="/PatchingLogs_PreProd" />
    <add key="MSNReportViewerPath" value="http://tk5stosrv03.redmond.corp.microsoft.com/ReportServer/Pages/ReportViewer.aspx?%2fPatchingLogs_MSCSProd%2fMSNPatchCompletionReport" />
    <add key="ODPReportViewerPath" value="http://tk5stosrv03.redmond.corp.microsoft.com/ReportServer/Pages/ReportViewer.aspx?%2fPatchingLogs_MSCSProd%2fODPPatchCompletionReport" />
    <add key="SimpleUpdateReportViewerPath" value="http://tk5stosrv03.redmond.corp.microsoft.com/ReportServer/Pages/ReportViewer.aspx?%2fPatchingLogs_MSCSProd%2fSimpleUpdatePatchCompletionReport" />
    <add key="ChainingReportViewerPath" value="http://tk5stosrv03.redmond.corp.microsoft.com/ReportServer/Pages/ReportViewer.aspx?%2fPatchingLogs_MSCSProd%2fChainingPatchCompletionReport" />
    <add key="MSNReportPath" value="/PatchingReport" />
    <add key="ODPReportPath" value="/OnDemandPatchingReport" />
    <add key="SimpleUpdateReportPath" value="/Simple Update Report" />
    <add key="ChainingReportPath" value="/Chaining Patch Report" />
    <add key="MSNPatchValidationReportPath" value="/MSNPatchValidationReport" />
    <add key="ODPValidationReportPath" value="/ODPValidationReport" />
    <add key="CheckAccessReportPath" value="/CheckAccessReport"/>
    <add key="PlanReportPath" value="/ViewPatchingPlan_new"/>
    <add key="ExceuteSummaryReportPath" value="/ExecutionSummeryReport"/>
    <add key="PlanSummaryReportPath" value="/PlanSummeryReport_new"/>
    <add key="OverallSummaryReportPath" value="/Overall Summary_UAT_New"/>
    <add key="MitigateReportPath" value="/Mitigate_Report_New"/>
    <add key="PrepReportPath" value="/Prep_Report_New"/>
    <add key="MitigateReportPath_HLB" value="/MitigateReport_HLB"/>
    <add key="PrepReportPath_HLB" value="/Prep_Report_HLB"/>
    <add key="RebootReportPath_HLB" value="/RebootStatus"/> 
    <add key="ValidationReportPath" value="/ValidationReport"/>
    <add key="PrepFilesPath" value="\\localhost\Installers"/>
    <!--Aded Key for the common timer refresh value -->
    <add key="TimerRefreshInterval" value="30000"/>
   <!--Added in order to get the value of footer version-->
      <add key="Footerversion" value="9.0.0.0" />

    </appSettings>
  <applicationSettings>
    <PatchingUI.Properties.Settings>
      <setting name="PatchingUI_VipService_UserHLBMgmtSvc" serializeAs="String">
        <value>http://myvips/myvipsengine/userhlbmgmtsvc.asmx</value>


      </setting>
    </PatchingUI.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>