  #NavigationMenu img.icon
        {
            border-style: none;
            vertical-align: middle;
        }
        #NavigationMenu img.separator
        {
            border-style: none;
            display: block;
        }
        #NavigationMenu img.horizontal-separator
        {
            border-style: none;
            vertical-align: middle;
        }
        #NavigationMenu ul
        {
            list-style: none;
            margin: 0;
            padding: 0;
            width: auto;
        }
        #NavigationMenu ul.dynamic
        {
            z-index: 1;
        }
        #NavigationMenu a
        {
            text-decoration: none;
            white-space: nowrap;
            display: block;
        }
        #NavigationMenu a
        {
            border-style: None;
            padding: 5px 10px 5px 10px;
            text-decoration: none;
        }
        
        #NavigationMenu a.selected
        {
            background-color: Black;
            border-color: #EDBD24;
            border-width: 0px;
            border-style: Outset;
            text-decoration: none;
        }   
        
         span.tab{
            padding: 0 80px; 
        }     

      
            .loading
        {
            font-family: Arial;
            font-size: 10pt;          
            border: 2px solid #1E90FF;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }  

            .clsWrap
        {
            word-break: break-all;
            
        }
   .modalBackground
     {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
    }
    
    .modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
     .Executeloading
        {
            font-family: Arial;
            font-size: 10pt;
           /* border: 5px solid #67CFF5;*/
           border: 2px solid #1E90FF;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: White;
            z-index: 999;
        }

      .overlay
        {
          position: fixed;
          z-index: 98;
          top: 0px;
          left: 0px;
          right: 0px;
          bottom: 0px;
          background-color: #aaa;
          filter: alpha(opacity=80);
          opacity: 0.8;
        }
        .overlayContent
        {
          z-index: 99;
          margin: 250px auto;
          width: 80px;
          height: 80px;
        }
        .overlayContent h2
        {
            font-size: 14px;
            font-weight: bold;
            color: #000;
        }
        .overlayContent img
        {
          width: 40px;
          height: 40px;
        }
       